@import "tailwindcss";

@font-face {
  font-family: 'yekan bakh';
  src: url(/fonts/fonnts.com-YekanBakh-Regular.ttf) format('truetype');
}
@theme{
  --radius-100: 6.25rem;
  --font-yekan-bakh: 'yekan bakh';
  --color-cognac-primery: #B19276;
  --color-cognac-tint-9: #B99D84;
  --color-cognac-tint-8: #C1A891;
  --color-cognac-tint-7: #C8B39F;
  --color-cognac-tint-6: #D0BEAD;
  --color-cognac-tint-5: #D0BEAD;
  --color-cognac-tint-4: #E0D3C8;
  --color-cognac-tint-3: #E8DED6;
  --color-cognac-tint-2: #EFE9E4;
  --color-cognac-tint-1: #F7F4F1;
  --color-cognac-shade-9: #120F0C;
  --color-cognac-shade-8: #231D18;
  --color-cognac-shade-7: #352C23;
  --color-cognac-shade-6: #473A2F;
  --color-cognac-shade-5: #59493B;
  --color-cognac-shade-4: #6A5847;
  --color-cognac-shade-3: #7C6653;
  --color-cognac-shade-2: #8E755E;
  --color-cognac-shade-1: #9F836A;
  --color-neutral-gray-13:#23242E;
  --color-neutral-gray-12:#2E2F39;
  --color-neutral-gray-11:#3C3D45;
  --color-neutral-gray-10:#54555D;
  --color-neutral-gray-9:#6D6D74;
  --color-neutral-gray-8:#85858B;
  --color-neutral-gray-7:#9D9EA2;
  --color-neutral-gray-6:#B6B6B9;
  --color-neutral-gray-5:#CECED1;
  --color-neutral-gray-4:#E7E7E8;
  --color-neutral-gray-3:#F2F2F3;
  --color-neutral-gray-2:#F7F7F8;
  --color-neutral-gray-1:#FAFAFA;
  --color-error-primery:#FF6666;
  --color-error-tint-4:#FF8585;
  --color-error-tint-3:#FFA3A3;
  --color-error-tint-2:#FFC2C2;
  --color-error-tint-1:#FFE0E0;
  --color-error-shade-4:#331414;
  --color-error-shade-3:#662929;
  --color-error-shade-2:#993D3D;
  --color-error-shade-1:#CC5252;
  --color-success-primery:#32CD32;
  --color-success-tint-4:#6FE36F;
  --color-success-tint-3:#9CEC9C;
  --color-success-tint-2:#CBF5CB;
  --color-success-tint-1:#F3FDF3;
  --color-success-shade-4:#0A290A;
  --color-success-shade-3:#145214;
  --color-success-shade-2:#1E7B1E;
  --color-success-shade-1:#28A428;
  --color-warning-primery:#FFC107;
  --color-warning-tint-4:#FFDF7D;
  --color-warning-tint-3:#FFE9A8;
  --color-warning-tint-2:#FFF4D4;
  --color-warning-tint-1:#FFFCF5;
  --color-warning-shade-4:#332701;
  --color-warning-shade-3:#664D03;
  --color-warning-shade-2:#997404;
  --color-warning-shade-1:#CC9A06;
  --color-info-primery:#1E90FF;
  --color-info-tint-4:#7DBFFF;
  --color-info-tint-3:#A9D5FF;
  --color-info-tint-2:#D4EAFF;
  --color-info-tint-1:#F4F9FF;
  --color-tint-shade-4:#061D33;
  --color-tint-shade-3:#0C3A66;
  --color-tint-shade-2:#125699;
  --color-tint-shade-1:#1873CC;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}
