@import "tailwindcss";

@font-face {
  font-family: "yekan bakh";
  src: url(/fonts/fonnts.com-YekanBakh-Regular.ttf) format("truetype");
}
@theme {
  --radius-100: 6.25rem;
  --font-yekan-bakh: "yekan bakh";
  --color-cognac-primery: #b19276;
  --color-cognac-tint-9: #b99d84;
  --color-cognac-tint-8: #c1a891;
  --color-cognac-tint-7: #c8b39f;
  --color-cognac-tint-6: #d0bead;
  --color-cognac-tint-5: #d0bead;
  --color-cognac-tint-4: #e0d3c8;
  --color-cognac-tint-3: #e8ded6;
  --color-cognac-tint-2: #efe9e4;
  --color-cognac-tint-1: #f7f4f1;
  --color-cognac-shade-9: #120f0c;
  --color-cognac-shade-8: #231d18;
  --color-cognac-shade-7: #352c23;
  --color-cognac-shade-6: #473a2f;
  --color-cognac-shade-5: #59493b;
  --color-cognac-shade-4: #6a5847;
  --color-cognac-shade-3: #7c6653;
  --color-cognac-shade-2: #8e755e;
  --color-cognac-shade-1: #9f836a;
  --color-neutral-gray-13: #23242e;
  --color-neutral-gray-12: #2e2f39;
  --color-neutral-gray-11: #3c3d45;
  --color-neutral-gray-10: #54555d;
  --color-neutral-gray-9: #6d6d74;
  --color-neutral-gray-8: #85858b;
  --color-neutral-gray-7: #9d9ea2;
  --color-neutral-gray-6: #b6b6b9;
  --color-neutral-gray-5: #ceced1;
  --color-neutral-gray-4: #e7e7e8;
  --color-neutral-gray-3: #f2f2f3;
  --color-neutral-gray-2: #f7f7f8;
  --color-neutral-gray-1: #fafafa;
  --color-error-primery: #ff6666;
  --color-error-tint-4: #ff8585;
  --color-error-tint-3: #ffa3a3;
  --color-error-tint-2: #ffc2c2;
  --color-error-tint-1: #ffe0e0;
  --color-error-shade-4: #331414;
  --color-error-shade-3: #662929;
  --color-error-shade-2: #993d3d;
  --color-error-shade-1: #cc5252;
  --color-success-primery: #32cd32;
  --color-success-tint-4: #6fe36f;
  --color-success-tint-3: #9cec9c;
  --color-success-tint-2: #cbf5cb;
  --color-success-tint-1: #f3fdf3;
  --color-success-shade-4: #0a290a;
  --color-success-shade-3: #145214;
  --color-success-shade-2: #1e7b1e;
  --color-success-shade-1: #28a428;
  --color-warning-primery: #ffc107;
  --color-warning-tint-4: #ffdf7d;
  --color-warning-tint-3: #ffe9a8;
  --color-warning-tint-2: #fff4d4;
  --color-warning-tint-1: #fffcf5;
  --color-warning-shade-4: #332701;
  --color-warning-shade-3: #664d03;
  --color-warning-shade-2: #997404;
  --color-warning-shade-1: #cc9a06;
  --color-info-primery: #1e90ff;
  --color-info-tint-4: #7dbfff;
  --color-info-tint-3: #a9d5ff;
  --color-info-tint-2: #d4eaff;
  --color-info-tint-1: #f4f9ff;
  --color-tint-shade-4: #061d33;
  --color-tint-shade-3: #0c3a66;
  --color-tint-shade-2: #125699;
  --color-tint-shade-1: #1873cc;
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --text-18: 1.125rem;
  --text-30:1.875rem;
  --shadow-shape: 0px 4px 4px rgba(0, 0, 0, 0.25;);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
