@import "tailwindcss";

@font-face {
  font-family: 'yekan bakh';
  src: url(../../public/fonts/fonnts.com-YekanBakh-Regular.ttf) format('truetype');
}
@theme{
  --radius-100: 6.25rem;
  --font-yekan-bakh: 'yekan bakh';
  --color-cognac-primery: #B19276;
  --color-cognac-tint9: #B99D84;
  --color-cognac-tint8: #C1A891;
  --color-cognac-tint7: #C8B39F;
  --color-cognac-tint6: #D0BEAD;
  --color-cognac-tint5: #D0BEAD;
  --color-cognac-tint4: #E0D3C8;
  --color-cognac-tint3: #E8DED6;
  --color-cognac-tint2: #EFE9E4;
  --color-cognac-tint1: #F7F4F1;
  --color-cognac-shade9: #120F0C;
  --color-cognac-shade8: #231D18;
  --color-cognac-shade7: #352C23;
  --color-cognac-shade6: #473A2F;
  --color-cognac-shade5: #59493B;
  --color-cognac-shade4: #6A5847;
  --color-cognac-shade3: #7C6653;
  --color-cognac-shade2: #8E755E;
  --color-cognac-shade1: #9F836A;
  --color-neutral-gray13:#23242E;
  --color-neutral-gray12:#2E2F39;
  --color-neutral-gray11:#3C3D45;
  --color-neutral-gray10:#54555D;
  --color-neutral-gray9:#6D6D74;
  --color-neutral-gray8:#85858B;
  --color-neutral-gray7:#9D9EA2;
  --color-neutral-gray6:#B6B6B9;
  --color-neutral-gray5:#CECED1;
  --color-neutral-gray4:#E7E7E8;
  --color-neutral-gray3:#F2F2F3;
  --color-neutral-gray2:#F7F7F8;
  --color-neutral-gray1:#FAFAFA;
  --color-error-primery:#FF6666;
  --color-error-tint4:#FF8585;
  --color-error-tint3:#FFA3A3;
  --color-error-tint2:#FFC2C2;
  --color-error-tint1:#FFE0E0;
  --color-error-shade4:#331414;
  --color-error-shade3:#662929;
  --color-error-shade2:#993D3D;
  --color-error-shade1:#CC5252;
  --color-success-primery:#32CD32;
  --color-success-tint4:#6FE36F;
  --color-success-tint3:#9CEC9C;
  --color-success-tint2:#CBF5CB;
  --color-success-tint1:#F3FDF3;
  --color-success-shade4:#0A290A;
  --color-success-shade3:#145214;
  --color-success-shade2:#1E7B1E;
  --color-success-shade1:#28A428;
  --color-warning-primery:#FFC107;
  --color-warning-tint4:#FFDF7D;
  --color-warning-tint3:#FFE9A8;
  --color-warning-tint2:#FFF4D4;
  --color-warning-tint1:#FFFCF5;
  --color-warning-shade4:#332701;
  --color-warning-shade3:#664D03;
  --color-warning-shade2:#997404;
  --color-warning-shade1:#CC9A06;
  --color-info-primery:#1E90FF;
  --color-info-tint4:#7DBFFF;
  --color-info-tint3:#A9D5FF;
  --color-info-tint2:#D4EAFF;
  --color-info-tint1:#F4F9FF;
  --color-tint-shade4:#061D33;
  --color-tint-shade3:#0C3A66;
  --color-tint-shade2:#125699;
  --color-tint-shade1:#1873CC;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}
